.title-repeater {
  margin-top: -2px;
}

.hero-overlay-bottom {
  &.clip-left {
    img {
      clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  &.clip-right {
    img {
      clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0% 100%);
    }
  }
  &.clip-bottom-right {
    img {
      clip-path: polygon(0 0, 0% 100%, 100% 0);
    }
  }
  &.clip-bottom-left {
    img {
      clip-path: polygon(0 0, 100% 100%, 100% 0);
    }
  }
}

[data-fit-text] {
  /* Sized via the viewport, but the --width variable could be set by JS based on the element or parent's width. */
  --width: initial;

  /* Adjust scale depending on your exact font.  */
  --scale: initial;

  font-size: 62px;
  bottom: -5px;
  line-height: 1;
  padding: 0 10px;
}

// .fit-text {
//   font-size: 24vw;
//   text-transform: uppercase;
//   line-height: .91;
// }


#main-hero {
  z-index: 99998;
  position: relative;
}

.hero {
  &.header {
    overflow-y: hidden;
  }
  &.is-fullheight {
    height: 72vh;
    &.h-screen-video {
      height: calc(var(--vh, 1vh) * 100 - 0px);
    }
  }
  &.is-half {
    height: 40vh;
    padding-top: 62px;
  }
  &.is-third {
    height: calc(18vh);
    padding: 0;
  }
}

.anchor-icon-wrap {
  opacity: 0;
  transition: all 3s;
  transition-delay: 4s;
  &.active {
    opacity: 1;
  }
}

a.homepage-anchor-icon {
  transition: all .3s;
  transform: translateY(0px);
  margin-bottom: 100px;
  border-radius: 50%;
  &:hover, &:active, &:focus {
    text-decoration: none;
    transform: translateY(10px);
  }
}

a.hero-cta-bottom {
  transform: scale(1);
  transition: all .35s;
  .icon {
    border-radius: 50%;
    transition: all .35s;
  }
  &:hover, &:active, &:focus {
    transform: scale(1.05);
    text-decoration: none;
    .icon {
      color: $primary;
      background: $crab;
      border-radius: 50%;
    }
  }
}

.h-screen-video {
  height: 100vh;
}

.video-background {
  background: #FFF;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: -15%;
    left: -15%;
    width: 148%;
    height: 130%;
    pointer-events: none;
  }
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.padded-multiline {
  display: inline-block;
  height: 100vh;
}

.padded-multiline span {
  background-color: rgba(255, 255, 255, 0.65);
  color: $primary;
  display: block;
  padding: auto;

  /* Needs prefixing */
  box-decoration-break: initial;
  -webkit-box-decoration-break: initial;

  &.h1 {
    padding: 5px 15px;
    word-wrap: initial;
    overflow-wrap: initial;
    font-size: 1.4em;
    line-height: 1;
    letter-spacing: -.03em;
  }

  &.h2 {
    padding: 15px 25px;
    word-wrap: initial;
    overflow-wrap: initial;
    font-size: 1em;
    line-height: 1.45;
    // letter-spacing: -.03em;
  }
}

.hero.hero-single-event {
  height: 33vh;
  // margin-bottom: 270px;
}


.mt-header {
  margin-top: 0px;
}

.pt-header {
  padding-top: 135px;
}

.home-hero {
  height: calc(var(--vh, 1vh) * 100 - 0px);
}

.above-animation-text {
  .animation-text-container {
    padding-left: 10%;
  }
  height: 75vh;
  position: absolute;
  z-index: 10002;
  .container {
    padding-left: 15px;
  }
}

header{
  max-width: 100vw;
}

.home-page-animation {
  min-height: 30vh;
  height: auto;
  bottom: 70vh;
  position: absolute;
  z-index: 10001;
  &.mobile{
    min-height: 100vh;
    bottom: 0px;
    svg {
      transform-origin: bottom;
    }
    .above-svg{
      transform-origin: center;
      margin-bottom: -3.5px;
    }
  }
  .left-svg{
    width: auto;
    flex-grow: 1;
    min-height: 30vh;
    height: auto;
  }
  background: transparent;
  svg {
    min-height: 100px;
    width: 100%;
    margin-top: -1px;
    margin-left: -1px;
    path {
      fill:$street-lamp;
    }
    polygon {
      fill: $street-lamp;
    }
  }
}

.home-page-animation.mobile {
  min-height: calc(var(--vh, 1vh) * 100 - 62px);
  bottom: 0px;
}

.animated-subtitle {
  position: relative;
  opacity: 0;
}


.animated-title {
  position: relative;
  left: 15%;
  opacity: 0;
}
