
<form method="post" name="myemailform" action="{{ site.wp_link }}/form-to-email.php">
  Enter Name: <input type="text" name="contact_name" />

  Enter Email Address: <input type="text" name="contact_email" />

  Phone Number: <input type="text" name="phone_number" />

  Enter Property: <input type="text" name="property" />

  Enter Message: <textarea name="message"></textarea>

  <input type="submit" value="Submit" name="submit_btn" />
</form>
