<div class="navbar-brand">

  <a class="navbar-item" href="{{ site.link }}">
    <img class="logo w-56" src="{{ logo }}" alt="Boston Premium Homes">
  </a>



  <div class="navbar-burger">
    <span></span>
    <span></span>
    <span></span>
  </div>

</div>
