<div>
  <nav>
    <div>logo</div>
    <div>
      <ul>
        <li>Home</li>
        <li>Luxury Properties</li>
        <li>Market Insights</li>
        <li>Agent Bio</li>
      </ul>
    </div>
  </nav>
</div>
