<nav class=" flex px-4 items-center nav" >
  <!-- {# {% include 'components/navbar/_navbar-brand.twig' %}
	<div class="ml-auto flex items-center">
		{% include 'components/navbar/_navbar-menu.twig' %}
	</div> #} -->

  <a href="/">
    <img src="" />
  </a>

  <div class="nav-container uppercase">
    <ul class="flex flex-row text-lg ">
      <li class="hidden"><a href="/" class="">Home</a></li>
      <li class=""><a href="/buildings" class="">Luxury Properties</a></li>
      <li class=""><a href="/blogs" class="">Market Insights</a></li>
      <li class=""><a href="/bio" class="">Agent Bio</a></li>
    </ul>
  </div>
</nav>
