<nav class=" flex pt-4 mb-3  md:px-4 px-2 items-center nav">

  <a class="md:mr-5 md:w-32 w-16 h-full max-h-32" href="/">
    <img class="   " src="{{ logo }}" />
  </a>

  <div class="nav-container uppercase">
    <ul class="flex flex-row md:text-lg text-xs text-center">
      <li class="home-link"><a href="/" class="">Home</a></li>
      <li class="nav-item"><a href="/buildings" class="">Luxury Properties</a></li>
      <li class="nav-item"><a href="/blogs" class="">Market Insights</a></li>
      <li class="nav-item"><a href="/bio" class="">Agent Bio</a></li>
    </ul>
  </div>
</nav>
