<footer class="footer bg-gray-700">
  <div class="container">
    <div class="text-white text-center p-3">
      <p>
        <strong>Tailbase</strong> by <a href="https://github.com/bellweather-agency">Bellweather Agency</a>.
      </p>
    </div>
  </div>
</footer>

</div> {# end <div id="app"> #}

{{ function('wp_footer') }}
</body>
</html>

