.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  &.narrow {
    max-width: $md;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.wysiwyg {
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  h2, h3, p {
    color: $primary;
  }
}


hr {
  background: $primary;
  height: 1px;
  width: 100%;
  &.blocks {
    background: $primary;
    height: 1px;
  }
  &.primary {
    background: $primary;
    height: 1px;
    border: 0;
  }
  &.secondary {
    background: $secondary;
    height: 1px;
    border: 0;
  }
}

iframe {
  min-width: 100%;
}



.table, table {
  background: transparent;
  strong {
    font-family: $sans-medium;
    color: $primary;
  }
  td, th {
    border: 0px;
    padding: 10px;
  }
  &.is-narrow {
    td, th {
      border: 0px;
      padding: 10px;
    }
  }
}

.z-1 {
  z-index: 1;
}




.full-width-img {
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

.lazyload,
.lazyloading {
  opacity: .09;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 1.5s;
}


.chevron-bottom {
  &:before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    top: 7px;
    left: 0;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
  }
}
.chevron-right {
  &:before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #000;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    top: 7px;
    left: 0;
    position: relative;
    transform: rotate(45deg);
    vertical-align: top;
  }
}
.chevron-left {
  &:before {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #000;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    top: 7px;
    right: -6px;
    position: relative;
    transform: rotate(-130deg);
    vertical-align: top;
  }
}


.go-top {
  border-radius: 5px;
  background-color: rgb(1,14,27);
  background-color: rgba(1, 14, 27, .7);
  position: fixed;
  width: 45px;
  height: 45px;
  display: block;
  right: 15px;
  bottom: 15px;
  border: none;
  opacity: 0;
  z-index: -1;
  transition: all .4s ease-in;
  &:hover {
    opacity: 1;
    background-color: rgb(1,14,27);
    background-color: rgba(1, 14, 27, .9);
  }
  &.is-active {
    opacity: .8;
    z-index: 4;
  }
}


.valuation-input {
  background: 0;
  border: 0;
  outline: none;
  width: 80vw;
  max-width: 400px;
  font-size: 1.5em;
  transition: padding 0.3s 0.2s ease;
  color: $primary;

  &:focus {
    padding-bottom: 2.5px;
  }

  // sibling magic ;o
  &:focus + .line {
    &:after {
      transform: scaleX(1);
    }
  }
}

.field {
  position: relative;

  .line {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    background: #bdc3c7;

    &:after {
      content: " ";
      position: absolute;
      float: right;
      width: 100%;
      height: 3px;
      transform: scalex(0);
      transition: transform 0.3s ease;
      background: $primary;
    }
  }
}

#field-container {
  overflow: hidden;
  transition: height 1s;
  height: 125px;
  &.closed {
    height: 0px;
  }
}
#submit_form_valuation {
  transition: opacity 2s;
  opacity: 0;
  &.open {
    opacity: 1 !important;
  }
  @media (max-width: 768px) {
    #wpforms-form-89 {
      .wpforms-field-container {
        display: flex;
        flex-wrap: wrap;
        .wpforms-field {
          margin: 0px !important;
          margin-bottom: 15px !important;
          width: 100%;
          &:nth-child(even) {
            padding-left: 0px;
          }
          &:nth-child(odd) {
            padding-right: 0px;
          }
        }
        textarea {
          height: 100px;
        }
      }
    }
  }
}

// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.wpforms-error-container {
  display: none !important;
}
