// COLORS
$primary: #5068a9;
$secondary: rgba(243, 246, 245, 0.8);
// $secondary: #ffd53f;
$background-dark: rgb(80, 104, 169);
$primary-dark: #0a202e;
$primary-light: rgba(162, 174, 207, 0.8);

// HELPER URL
$images: "../images";

.text-primary {
  color: $primary !important;
}

a.text-secondary {
  color: $secondary !important;
  &:hover,
  &:focus,
  &:active {
    color: $secondary !important;
  }
}

.text-secondary {
  color: $secondary !important;
  &:hover,
  &:focus,
  &:active {
    color: $secondary !important;
  }
}

.bg-secondary {
  background: $secondary;
}

.bg-primary {
  background: $primary;
}

.bg-primary-dark {
  background: $primary-dark;
}

.text-primary-dark {
  color: $primary-dark;
}

.border-primary {
  border-color: $primary !important;
}

.border-secondary {
  border-color: $secondary !important;
}
