{% extends "base.twig" %} {% block content %}

<section class="container object-center blogs-container">
  <div class="flex flex-col items-center">
    {% for blog in all_blogs %}
    <div class="mb-8 md:max-w-3xl px-3  py-4 ">
      <h2 class="text-center text-4xl mb-2">{{ blog.title }}</h2>
      <p class="text-center date">
        {{ blog.date_posted }} by
        <a class="underline text-black" href="/bio">Jon Kumin</a>
      </p>
      <div class="my-4">{{ blog.content }}</div>
      <a
        class="border border-solid rounded border-black p-1 my-4 read-more-button"
        href="{{ blog.slug }}"
        >read more</a
      >
    </div>

    {% endfor %}
  </div>
</section>

{% endblock %}
